<template>
    <div class="goods-item">
        <img v-lazy="goods.cover_url">
        <div class="goods-info">
            <p>{{goods.title}}</p>
            <span class="goods-price"><small>￥</small>{{goods.price}}</span>
            <i class="iconfont icon-shoucang"></i><span class="goods-collect">{{goods.collects_count}}</span>
        </div>

    </div>
</template>

<script>
    export default {
        name: "GoodsItem",
        props: {
            goods: {
                type: Object,
                default() {
                    return null;
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .goods-item {
        width: 42%;
        box-shadow: 0 0 5px rgba(100,100,100,.2);
        border-radius: 8px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #f8f8f8;
        img{
            width: 100%;
        }
        .goods-info {
            margin-bottom: 8px;
            p{
                margin: 4px 0;
                padding: 0 14px;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .goods-price, .goods-collect{
                margin-right: 8px;
                font-size: 12px;
            }
            .goods-price {
                color: var(--color-high-text);
            }
            i{
                font-size: 14px;
            }
        }
    }
</style>