<template>
    <div class="goods-list">
        <GoodsItem v-for="item in nowShowGoods" :key="item.id" :goods="item" @click="goDetail(item.id)"></GoodsItem>
    </div>

</template>

<script>
    import GoodsItem from "./GoodsItem";
    import {useRouter} from "vue-router";
    export default {
        name: "GoodsList",
        setup() {
            const router = useRouter();
            const goDetail = (id)=>{
                router.push({path:'/detail', query:{id}});
            };
            return {
                goDetail,
            }
        },
        props: {
            nowShowGoods: {
                type: Array,
                default() {
                    return [];
                }
            }
        },

        components: {
            GoodsItem,
        }
    }
</script>

<style scoped lang="scss">
    .goods-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
    }
</style>