<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>分类</template>
        </nav-bar>
    </div>

    <div class="category-list">
        <div class="sort-bar">
            <van-tabs v-model="active" @click-tab="getSortWay">
                <van-tab title="销量排序"></van-tab>
                <van-tab title="价格排序"></van-tab>
                <van-tab title="好评排序"></van-tab>
            </van-tabs>
        </div>
        <div style="clear: both"></div>
        <div class="content">
            <div class="slide-bar">

                <van-sidebar v-model="activeKey" style="width: 100%;">
                <van-collapse v-model="activeName" accordion>
                    <van-collapse-item :title="item.name" :name="item.name+item.id"
                                       v-for="item in categoryData.slice(0, 5)" :key="item.id">
                            <van-sidebar-item @click="getCategoryId(sub.id)" :title="sub.name" v-for="sub in item.children.slice(0,3)" :key="sub.id"/>
                    </van-collapse-item>
                </van-collapse>
                </van-sidebar>

            </div>

            <div class="goods-list">
                <div class="goods-list-content">
                    <van-card
                        v-for="item in getGoods"
                        :key="item.id"
                        num="99+"
                        tag="热销"
                        :price="item.price"
                        :desc="'收藏人数'+item.collects_count"
                        :title="item.title"
                        :thumb="item.cover_url"
                />
                </div>

            </div>
        </div>

    </div>
    <back-top v-show="backTopShow" @backTopClick="backTopClick"></back-top>
</template>

<script>
    import NavBar from "components/common/navbar";
    import {getCategoryAllData, getCategoryGoods} from "network/category";
    import {ref, onMounted, reactive, computed, watchEffect, nextTick} from "vue";
    import BScroll from 'better-scroll';
    import BackTop from "../../components/common/BackTop";
    export default {
        name: "category",
        setup() {
            const activeKey = ref(0);
            const activeName = ref(1);
            const active = ref(2);
            let orderWay = ref('sales');
            let categoryId = ref(0);
            let categoryData = ref([]);
            let backTopShow = ref(false);
            //数据模型
            let categoryGoods = reactive({
                sales:{pages:0, list:[]},
                price:{pages:0, list:[]},
                comments_count:{pages:0, list:[]},
            });
            let bScroll = reactive({});
            //返回数据
            const getGoods = computed(()=>{
                return categoryGoods[orderWay.value].list;
            });

            let init = ()=>{
                getCategoryGoods().then((res)=>{
                    categoryGoods.sales.list = res.goods.data;
                })
            };

            onMounted(()=>{
                getCategoryAllData().then((res)=>{
                    categoryData.value = res.categories;
                });
                init();
                let wrapper = document.querySelector('.goods-list');
                bScroll = new BScroll(wrapper,{
                    probeType: 3,//0 1 2 3
                    click: true,//是否
                    pullUpLoad: true,//上拉加载更多
                });
                bScroll.refresh();
                //上滑加载
                bScroll.on('pullingUp',()=>{
                    let pages = categoryGoods[orderWay.value].pages + 1;
                    getCategoryGoods(orderWay.value, categoryId.value, pages).then((res)=>{
                        categoryGoods[orderWay.value].list.push(...res.goods.data);
                    });
                    bScroll.finishPullUp();
                    bScroll.refresh();
                });
                //触发滚动事件
                bScroll.on('scroll',(position)=>{
                    // console.log(position.y);
                    backTopShow.value = -position.y >= 200;
                });
            });
            //获取排序id
            const getSortWay = (sortId) => {
                bScroll && bScroll.refresh();
                let sortWays = ['sales', 'price', 'comments_count']
                orderWay.value = sortWays[sortId.name];
                getCategoryGoods(orderWay.value, categoryId.value).then((res)=>{
                    categoryGoods[orderWay.value].list = res.goods.data;
                });
            };
            const getCategoryId = (id) => {
                bScroll && bScroll.refresh();
                categoryId.value = id;
                getCategoryGoods(orderWay.value, categoryId.value).then((res)=>{
                    categoryGoods[orderWay.value].list = res.goods.data;
                });
            };

            //监听页面任何变化
            watchEffect(()=>{
                nextTick(()=>{
                    //重新计算页面高度
                    bScroll && bScroll.refresh();
                })
            });
            const backTopClick = ()=>{
                bScroll.scrollTo(0, 0, 500);//返回顶部
            };

            return {
                activeKey,
                activeName,
                active,
                categoryData,
                getSortWay,
                getCategoryId,
                orderWay,
                categoryId,
                getGoods,
                backTopShow,
                backTopClick,
            }
        },
        components: {
            BackTop,
            NavBar,
        }
    }
</script>

<style scoped lang="scss">
.category-list {
    margin-top: 40px;
    .sort-bar {
        float: right;
        width: 70%;
        height: 50px;
    }
    .content{
        display: flex;
        .slide-bar {
            width: 30%;
            height: 400px;
        }
        .goods-list {
            width: 70%;
            height: 100vh;
            overflow: hidden;
        }
    }
}
</style>