<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>购物车</template>
        </nav-bar>
    </div>

    <div style="margin-top: 40px;background-color: #f8f8f8;min-height: 88vh;padding-bottom: 100px">

        <van-empty v-if="isNull"
                   @click="$router.push({path:'/'})"
                   class="custom-image"
                   image="https://img01.yzcdn.cn/vant/empty-image-default.png"
                   description="购物车空空如也，点击快去浏览"
                   style="margin: 40px auto;"
        />

        <van-checkbox-group v-model="result" @change="changeChecked" >
            <van-swipe-cell :before-close="beforeClose" v-for="(item,index) in list" :key="index">
                <van-checkbox :name="item.id" checked-color="#F5A623" style="position:absolute;left: 20px;top:40px;z-index:2"></van-checkbox>
                <van-card
                        @click="$router.push({path:'/detail',query:{id:item.goods.id}})"
                        :price="item.goods.price"
                        :desc="item.goods.description"
                        :title="item.goods.title"
                        class="goods-card"
                        :thumb="item.goods.cover_url"
                />
                <van-stepper
                        class="goods-count"
                        v-model="item.num"
                        input-width="30px"
                        button-size="26px"
                        @change="onChange"
                        async-change
                        :max = "item.goods.stock"
                        :min = 1
                        :name = "item.id"
                />
                <!--            <template #left>-->
                <!--                <van-button square type="primary" text="选择" />-->
                <!--            </template>-->
                <!--            <van-cell :border="false" title="单元格" value="内容" />-->
                <template #right>
                    <van-button square type="danger" text="删除"
                                class="delete-button" @click="getId(item.id)"
                                ref="delete"
                    />
                </template>
            </van-swipe-cell>
        </van-checkbox-group>

    </div>

        <van-submit-bar
                :price="totalPrice*100"
                button-text="提交订单"
                :disabled="totalPrice==0"
                @submit="$router.push({path:'/orderPreview'})"
                style="bottom:50px">
            <van-checkbox v-model:checked="checked" checked-color="#F5A623" @click="checkedAll">全选</van-checkbox>
<!--            <template #tip>-->
<!--                你的收货地址不支持同城送, <span @click="onClickEditAddress">修改地址</span>-->
<!--            </template>-->
        </van-submit-bar>

</template>

<script>
    import NavBar from "components/common/navbar";
    import {Dialog, Toast} from "vant";
    import {ref, reactive, toRefs, computed, onMounted} from "vue";
    import {getCartList, changeCart, removeCart, checkedCart} from "network/cart";
    import {useStore} from "vuex";
    // import {useRouter} from "vue-router";
    export default {
        name: "shopcart",

        setup(){
            const store = useStore();
            // const router = useRouter();
            let isNull = ref(false);
            let count = ref(1);
            let checked = ref(false);
            let cartData = reactive({
                list:[],
                result:[],
            });
            let deleteId = ref(0);
            // let list = ref([]);
            const getId = (id) => {
                deleteId.value = id;
            };
            const beforeClose =({ position })=>{
                switch (position) {
                    case 'left':
                        console.log('222');
                        break;
                    case 'cell':
                    case 'outside':
                        break;
                    case 'right':
                        Dialog.confirm({
                            message: '确定删除吗？',
                        }).then(() => {
                            removeCart(deleteId.value).then(()=>{
                                cartData.list = [];
                                init();
                                Toast('移除成功');
                                console.log(store.state.cartCount);
                                store.state.cartCount--
                            });
                        });
                        break;
                }
            };

            //初始化列表
            const init = ()=>{
                getCartList('include=goods').then((res)=>{
                    if(res.data.length == 0){
                        isNull.value=true;
                        checked.value = false;
                    }else{
                        isNull.value=false;
                        checked.value = true;
                    }
                    cartData.list = [];
                    console.log(res.data);
                    // console.log(res);
                    cartData.list = res.data;
                    // list.value = res.data;
                    // console.log(list);
                    cartData.result = res.data.filter(n=>n.is_checked==1).map(item=>item.id);
                })
            };
            onMounted(()=>{
                Toast.loading({message:"数据加载中...",duration:600});
                init();
            });

            //加减数量
            const onChange = (value, id)=>{
                console.log(value);//数量
                console.log(id.name);//购物车 id
                changeCart(id.name, {num:value}).then(()=>{

                });
                // addCart({goods_id:id.name, num: 1}).then((res)=>{
                //     if(res.status == 201 || res.status == 204){
                //         Toast.success('已加入购物车');
                //         // store.dispatch('updateCount');
                //     }
                // })
            };

            //提交订单
            // const onSubmit = () =>{
            //     console.log('提交成功')
            // };

            //全选
            const checkedAll = () => {
                if(checked.value==false){
                    checked.value = true;
                    cartData.result = cartData.list.map(item=>item.id);
                }else {
                    checked.value = false;
                    cartData.result = [];
                }
            };

            //修改地址
            // const onClickEditAddress = () =>{
            //     console.log('修改地址')
            // };

            //结算
            const totalPrice = computed(()=>{
                let totalP = 0;
                cartData.list.filter(item=>cartData.result.includes(item.id))
                    .forEach(item=>{
                        totalP += parseInt(item.num)*parseFloat(item.goods.price);
                    });
                return totalP
            });

            //默认传递被选中的数组  页面加载先执行一次
            const changeChecked = (result) => {
                console.log(result);
                cartData.result = result;
                if(cartData.list.length==0 || result.length!=cartData.list.length){
                    checked.value = false;
                }else {
                    checked.value = true;
                }
                checkedCart({cart_ids:result}).then(()=>{

                });
            };

            return {
                beforeClose,
                count,
                ...toRefs(cartData),//直接遍历list渲染到页面
                // list,
                onChange,
                // onSubmit,
                checkedAll,
                checked,
                // onClickEditAddress,
                totalPrice,
                getId,
                isNull,
                changeChecked
            }
        },

        //注册组件
        components: {
            NavBar,
        },
    }
</script>

<style scoped>
    .goods-card {
        position: relative;
        margin: 10px 10px 0;
        padding-left: 30px;
        background-color: white;
        text-align: left;
        border-radius: 5px;
    }
    .goods-count {
        position: absolute;
        bottom: 5px;
        right: 20px;
    }
    .delete-button {
        height: 100%;
    }
</style>