<template>
    <div class="tab-control">
        <div class="tab-control-item" v-for="(item,index) in titles"
             :key="index" @click="tabClick(index)" :class="{active:index==itemIndex}">
            <span>{{item}}</span>
        </div>
    </div>
</template>

<script>
    import {ref} from "vue";
    export default {
        name: "TabControl",
        props: {
            titles: {
                type: Array,
                default() {
                    return [];
                }
            }
        },
        setup(props,{emit}) {
            const itemIndex = ref(0);
            const tabClick = (index) => {
                itemIndex.value = index;
                emit('fatherTabClick',index);//将index传给父组件
            };
            return {
                itemIndex,
                tabClick,
            }
        }
    }
</script>

<style scoped lang="scss">
    .tab-control {
        display: flex;
        position: sticky;
        top:40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        background-color: #fff;
        border-bottom: 1px solid #e8e8e8;
        z-index: 9;
        .tab-control-item {
            flex: 1;
            span {
                padding: 4px;
            }
        }
        .active {
            color: var(--color-high-text);
            span {
                border-bottom: 2px solid var(--color-high-text);
            }
        }
    }
</style>