<template>
    <van-swipe class="my-swipe" :autoplay="3000" indicator-color="#F5A623">
        <van-swipe-item v-for="item in bannerData" :key="item.id">
            <a :href="item.url"><img :src="item.img_url"></a>
        </van-swipe-item>
    </van-swipe>
</template>

<script>
    export default {
        name: "HomeSwipe",
        props: {
            bannerData: {
                type: Array,
                default() {
                    return []
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .my-swipe .van-swipe-item {
        img {
            width: 100%;
        }
    }
</style>