@import './normalize.css';

:root {
    --color-text: #666;
    --color-high-text: #F5A623;
    --color-tint: #F5A623;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}
*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    user-select: none;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vm;
}
a{
    color: var(--color-text);
    text-decoration: none;
}
.detail-container img {
    width: 100%;
    height: auto;
}