@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1636185039423') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucangxuanzhong:before {
  content: "\f0113";
}

.icon-shoucang:before {
  content: "\f0114";
}

.icon-daifahuo:before {
  content: "\f0138";
}

.icon-31gouwuche:before {
  content: "\f01d2";
}

.icon-top:before {
  content: "\e663";
}

.icon-wode:before {
  content: "\e612";
}

.icon-daipingjia:before {
  content: "\e68b";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-zuanshi_o:before {
  content: "\eb70";
}

.icon-weizhifu:before {
  content: "\e679";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-yishouhuo:before {
  content: "\e64f";
}

.icon-fenlei:before {
  content: "\e638";
}

