<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>地址管理</template>
        </nav-bar>
    </div>
    <div style="margin-top: 50px;">
        <van-address-edit
                :area-list="areaList"
                :show-delete="showDelete"
                show-set-default
                show-search-result
                :search-result="searchResult"
                :address-info="AddressInfo"
                :area-columns-placeholder="['请选择', '请选择', '请选择']"
                @save="onSave"
                @delete="onDelete"
                @change-detail="onChangeDetail"
        />
    </div>

</template>

<script>
    import NavBar from "components/common/navbar";
    import {areaList} from "@vant/area-data";//引入地址信息
    import {ref, reactive} from "vue";
    import {addAddress, deleteAddress} from "network/address";
    import {Dialog, Toast} from 'vant';
    import {useRoute, useRouter} from "vue-router";

    export default {
        name: "AddressEdit",
        setup() {
            const route = useRoute();
            const router = useRouter();
            let searchResult = ref([]);
            let params = reactive({});
            let AddressInfo = reactive({});
            //是否显示删除按钮
            let showDelete = ref(false);

            if(route.query.addressInfo){
                showDelete = true;
                let addObj = JSON.parse(route.query.addressInfo);
                AddressInfo = addObj;
                AddressInfo.addressDetail = addObj.address;
                AddressInfo.province = '北京';
                AddressInfo.isDefault = !!AddressInfo.isDefault;
                Object.entries(areaList.county_list).forEach(([id, text])=>{
                    if(text==AddressInfo.county){
                        AddressInfo.areaCode = id;
                    }
                })

            }

            //保存地址
            const onSave = (content) => {
                params = {
                    name: content.name,
                    address: content.addressDetail,
                    phone: content.tel,
                    province: content.province,
                    city: content.city,
                    county: content.county,
                    is_default:content.isDefault?1:0,
                };
                addAddress(params).then(()=>{
                    AddressInfo = {};
                    Toast.success({message: '添加成功', duration:800});
                    setTimeout(()=>{
                        router.push({path:'/address'});
                    },800);
                })
            };

            //删除地址
            const onDelete = () => {
                deleteAddress(JSON.parse(route.query.addressInfo).id).then((res)=>{
                    if(res.status == 204){
                        Dialog.confirm({
                            message: '确定删除吗？',
                        }).then(() => {
                            AddressInfo = {};
                            Toast.success('删除成功');
                            setTimeout(()=>{
                                router.push({path:'/address'});
                            },800);
                        });
                    }
                });

            };
            const onChangeDetail = (val) => {
                if (val) {
                    searchResult = [
                        {
                            name: '',
                            address: '',
                        },
                    ];
                } else {
                    searchResult = [];
                }
            };
            return {
                areaList,
                searchResult,
                onSave,
                onChangeDetail,
                onDelete,
                AddressInfo,
                showDelete
            }
        },

        components:{
            NavBar,
        },
    };
</script>

<style lang="scss">
.van-button--danger{
    background-color: var(--color-high-text);
    border: none;
}
</style>