<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>地址管理</template>
        </nav-bar>
    </div>

    <van-empty v-if="isNull"
               @click="$router.push({path:'/addressEdit'})"
               class="custom-image"
               image="https://img01.yzcdn.cn/vant/empty-image-default.png"
               description="暂无地址，点击快去添加"
               style="margin: 160px auto;"
    />

    <div style="margin-top: 50px">
        <van-address-list
                v-model="chosenAddressId"
                :list="list"
                :disabled-list="disabledList"
                default-tag-text="默认"
                @add="onAdd"
                @edit="onEdit"
        />
    </div>
</template>

<script>
    import NavBar from "components/common/navbar";
    import {ref, reactive, toRefs, onMounted} from "vue";
    import {getAddressList} from "network/address";
    import {useRouter} from "vue-router";
    export default {
        name: "Address",
        setup() {
            const router = useRouter();
            const chosenAddressId = ref('');
            let isNull = ref(false);
            let addressList = reactive({
                list: [],
                disabledList: [],
            });

            onMounted(()=>{
                getAddressList().then((res)=>{
                    res.data.length == 0?isNull.value=true:isNull.value;
                    addressList.list = [];
                    addressList.list = res.data;
                    for (let i=0;i<res.data.length;i++){
                        addressList.list[i].tel = res.data[i].phone;
                        addressList.list[i].isDefault = res.data[i].is_default;
                        addressList.list[i].address = res.data[i].province +
                            res.data[i].city + res.data[i].county + res.data[i].address;
                        if(res.data[i].is_default){
                            chosenAddressId.value = res.data[i].id;
                        }
                    }

                })
            });

            const onAdd = ()=> {
                console.log('新增');
                router.push({path:'/AddressEdit'})
            };
            const onEdit = (item, index) => {
                console.log('编辑地址:' + index);
                //路由传递对象，先将对象转化为数组
                let arr = JSON.stringify(addressList.list[index]);
                console.log(arr);
                router.push({path:'/AddressEdit', query:{addressInfo:arr}});
            };

            return {
                ...toRefs(addressList),
                onAdd,
                onEdit,
                chosenAddressId,
                isNull
            }

        },
        components: {
            NavBar,
        }
    }
</script>

<style lang="scss" scoped>
    .van-button--danger{
        background-color: var(--color-high-text);
        border: none;
    }
</style>