<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>我的收藏</template>
        </nav-bar>
    </div>

    <van-empty v-if="isNull"
               @click="$router.push({path:'/'})"
            class="custom-image"
            image="https://img01.yzcdn.cn/vant/empty-image-default.png"
            description="暂无收藏，点击去看看"
            style="margin: 160px auto;"
    />

    <div style="margin-top: 50px">
        <div style="margin-top: 10px;position: relative" v-for="item in list" :key="item.id">
            <van-card
                    :price="item.goods.price"
                    :desc="item.goods.description"
                    :title="item.goods.title"
                    :thumb="item.goods.cover_url"
                    style="text-align: left"
                    @click="$router.push({path:'/detail', query:{id:item.goods.id}})"
            />
            <div class="cancel-collect" @click="cancelCollect(item.goods.id)">X</div>
        </div>
    </div>


</template>

<script>
    import NavBar from "../../components/common/navbar";
    import {ref, reactive, toRefs, onMounted} from "vue";
    import {getCollectionGoods, collectionGoods} from "network/collection";
    import {Toast} from "vant";
    export default {
        name: "Collection",
        setup() {
            let isNull = ref(false);
            let allCollectionGoods = reactive({
                list:[]
            });
            onMounted(()=> {
                getCollectionGoods().then((res)=>{
                    allCollectionGoods.list = res.data;
                    if(res.data.length == 0){
                        isNull.value = true;
                    }else {
                        isNull.value = false;
                    }
                })
            });

            //取消收藏
            const cancelCollect = (id) => {
                collectionGoods(id).then(()=>{
                    Toast.success({message:"取消收藏成功", duration:800});
                    getCollectionGoods().then((res)=>{
                        allCollectionGoods.list = res.data;
                        if(res.data.length == 0){
                            isNull.value = true;
                        }else {
                            isNull.value = false;
                        }
                    })
                });
            };

            //点击跳转到详情页
            // const goDetail = () => {
            //     console.log(1111);
            // };

            //加载动画
            Toast.loading({message:"正在加载数据",duration:500});
            return {
                ...toRefs(allCollectionGoods),
                cancelCollect,
                isNull,
                // goDetail,
            }
        },

        components: {
            NavBar,
        }
    }
</script>

<style scoped>
.cancel-collect{
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 30px;
    height: 16px;
    border-radius: 20px;
    border: 1px solid #eee;
    background-color: #fff;
    font-size: 12px;
    line-height: 16px;
    color: #d5d5d5;
}
</style>