<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>登录</template>
        </nav-bar>
    </div>

    <div style="margin-top: 25%">
        <img src="../../../public/favicon.png" height="40" width="40"/>
        <h3 style="font-weight: 400;line-height: 0">铱星书屋</h3>
        <p style="font-size: 14px;">书籍是人类进步的阶梯</p>
    </div>

    <div style="margin-top: 10%;padding: 20px;">
        <van-form @submit="onSubmit">
            <van-field
                    v-model="email"
                    name="邮箱"
                    label="邮箱"
                    placeholder="邮箱"
                    :rules="[{ required: true, message: '请填写邮箱' }]"
            />
            <van-field
                    v-model="password"
                    type="password"
                    name="密码"
                    label="密码"
                    placeholder="密码"
                    :rules="[{ required: true, message: '请填写密码' }]"
            />
            <div style="text-align: left;margin: 8px 16px">
                <a href="" @click.prevent="$router.push('/register')">
                    <small style="color: #F5A623">没有账号？立即注册</small>
                </a>
            </div>
            <div style="margin-top: 30px;">
                <van-button color="linear-gradient(to right, #F5A623, #F58E26)" hairline round block type="info" native-type="submit">登录</van-button>
            </div>
        </van-form>
    </div>
</template>

<script>
    import NavBar from "components/common/navbar";
    import {loginData} from "network/login";
    import {reactive, toRefs} from "vue";
    import {useRouter} from 'vue-router';
    import { Toast } from 'vant';
    export default {
        name: "login",
        setup() {
            const router = useRouter();
            let loginInfo = reactive({
                email:'',
                password:''
            });
            const onSubmit = () => {
                //user2021@qq.com   user2021   access_token
                loginData(loginInfo).then( res =>{
                    if(res){
                        //本地存储 token
                        localStorage.setItem('token', res.access_token);
                        Toast.loading({
                            message: '登录中...',
                            forbidClick: true,
                            duration:1000,
                        });
                        setTimeout(()=>{
                            router.push({path:'/profile'});
                        },1000)
                    }
                    // if(res.access_token){
                    //     router.push({path:'/'});
                    // }else {
                    //     console.log(1111);
                    // }
                });
            };
            return {
                ...toRefs(loginInfo),
                onSubmit,
            }
        },
        components: {
            NavBar,
        }
    }
</script>

<style scoped>

</style>