<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>个人中心</template>
        </nav-bar>
    </div>

    <div class="user">
        <div class="user-top">
            <van-uploader :after-read="afterRead">
                <div class="user-img"><img :src="avatar_url" width="60"></div>
            </van-uploader>
            <div class="user-name">{{name}}</div>
        </div>
        <div class="user-middle">
            <div class="pay"><i class="iconfont icon-weizhifu"></i><span>未支付</span></div>
            <div class="send"><i class="iconfont icon-daifahuo"></i><span>待发货</span></div>
            <div class="delivery"><i class="iconfont icon-yishouhuo"></i><span>已收货</span></div>
            <div class="assess"><i class="iconfont icon-daipingjia"></i><span>待评价</span></div>
        </div>
        <div class="user-list">
            <ul>
                <li @click="$router.push({path:'/collection'})">我的收藏</li>
                <li>我的订单</li>
                <li @click="$router.push({path:'/address'})">地址管理</li>
                <li>账号管理</li>
                <li>关于我们</li>
            </ul>
        </div>
    </div>

    <div style="margin: 20px 30px 50px;">
        <van-button @click="toLogout" block round type="primary" color="#F5A623">退出登录</van-button>
    </div>

</template>

<script>
    import NavBar from "components/common/navbar";
    import {logout} from "network/login";
    import {Toast} from "vant";
    import {useRouter} from "vue-router";
    import {ref, onMounted} from "vue";
    import {getUserInfo} from "../../network/user";

    export default {
        name: "profile",
        setup() {
            const router = useRouter();
            // let userInfo = reactive({});
            let name =ref('');
            let avatar_url =ref('');
            const toLogout = ()=>{
                logout().then(()=>{
                    //退出登录，清除本地 token
                    localStorage.removeItem('token');
                    Toast("退出成功");
                    setTimeout(()=>{
                        router.push({path:'/login'});
                    },500)
                })
            };

            const afterRead = () => {
                console.log(111);
            };

            onMounted(()=>{
                getUserInfo().then((res)=>{
                    // userInfo = {};
                    // userInfo = res.data;
                    // console.log(userInfo);
                    name.value = res.name;
                    avatar_url.value = res.avatar_url;
                })
            });

            return {
                toLogout,
                // ...toRefs(userInfo),
                name,
                avatar_url,
                afterRead
            }
        },
        components: {
            NavBar,
        }
    }
</script>

<style scoped lang="scss">
.user {
    width: 100%;
    margin-top: 40px;
    background-color: #f8f8f8;
    .user-top {
        display: flex;
        width: 100%;
        height: 160px;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #e6bf7c;
        text-align: left;
        .user-img {
            width: 60px;
            height: 60px;
            margin-top: 40px;
            background-color: #F5A623;
            border-radius: 60px;
            text-align: center;
            line-height: 60px;
            color: #fff;
        }
        .user-name {
            margin: 50px 0 0 10px;
            color: #fff;
        }
    }
    .user-middle {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 90px;
        margin: 16px auto 0;
        padding: 14px 10px 0;
        background-color: #fff;
        border-radius: 5px;
        div {
            flex: 1;
            color: #999;
            i {
                display: block;
                font-size: 36px;
            }
            span {
                font-size: var(--font-size);
            }
        }
    }
    .user-list {
        width: 100%;
        padding-top: 20px;
        ul {
            width: 100%;
            text-align: left;
            background-color: #fff;
            li {
                box-sizing: border-box;
                width: 90%;
                height: 48px;
                margin: 0 auto;
                padding: 0 8px 0 12px;
                line-height: 48px;
                background-color: #fff;
                border-bottom: 1px solid #eee;
                color: #999;
                font-size: var(--font-size);
            }
            li:after {
                content: '';
                display: inline-block;
                float: right;
                width: 12px;
                height: 12px;
                margin-top: 20px;
                border-top: 1px solid #999;
                border-right: 1px solid #999;
                transform: rotate(45deg);
            }
        }
    }
}
</style>