<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>新用户注册</template>
        </nav-bar>
    </div>

    <div style="margin-top: 25%">
        <img src="../../../public/favicon.png" height="40" width="40"/>
        <h3 style="font-weight: 400;line-height: 0">铱星书屋</h3>
        <p style="font-size: 14px;">书籍是人类进步的阶梯</p>
    </div>

    <div style="margin-top: 10%;padding: 20px;">
        <van-form @submit="onSubmit">
            <van-field
                    v-model="name"
                    name="用户名"
                    label="用户名"
                    placeholder="用户名"
                    :rules="[{ required: true, message: '请填写用户名' }]"
            />
            <van-field
                    v-model="email"
                    name="邮箱"
                    label="邮箱"
                    placeholder="邮箱"
                    :rules="[{ required: true, message: '请填写邮箱' }]"
            />
            <van-field
                    v-model="password"
                    type="password"
                    name="密码"
                    label="密码"
                    placeholder="密码"
                    :rules="[{ required: true, message: '请填写密码' }]"
            />
            <van-field
                    v-model="password_confirmation"
                    type="password"
                    name="确认密码"
                    label="确认密码"
                    placeholder="确认密码"
                    :rules="[{ required: true, message: '请填写一致密码' }]"
            />
            <div style="text-align: left;margin: 8px 16px">
                <a href="" @click.prevent="$router.push('/login')">
                    <small style="color: #F5A623">已有账号，立即登录</small>
                </a>
            </div>
            <div style="margin-top: 20px;">
                <van-button color="linear-gradient(to right, #F5A623, #F58E26)" hairline round block type="info" native-type="submit">注册</van-button>
            </div>
        </van-form>
    </div>


</template>

<script>
    import NavBar from "components/common/navbar";
    import {register} from "network/user"
    import {reactive, toRefs} from "vue";
    import { Toast } from 'vant';
    import {useRouter} from 'vue-router'
    export default {
        name: "Register",
        setup() {
            const router = useRouter();
            let registerInfo = reactive({
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            });
            const onSubmit = () => {
                //验证
                if(registerInfo.password != registerInfo.password_confirmation){
                    Toast('密码不一致');
                }else {
                    //提交服务器
                    register(registerInfo).then(res=>{
                        if(res.status == 201){
                            Toast('注册成功');
                            setTimeout(()=>{
                                router.push({path:'/login'});
                            },1000)
                        }
                    })
                }
            };
            return {
                ...toRefs(registerInfo),
                onSubmit,
            }
        },
        components: {
            NavBar,
        }
    }
</script>

<style scoped>

</style>