<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>订单预览</template>
        </nav-bar>
    </div>

    <div class="order-box">
        <van-contact-card
                v-for="(item, index) in address"
                :key="index"
                type="edit"
                :name="item.name"
                :tel="item.phone+' '+item.province+item.city+item.county+item.address"
                @click="$router.push({path:'/addressEdit'})"
        />

        <van-card
                v-for="(item, index) in carts"
                :key="index"
                :num="item.num"
                :price="item.goods.price.toFixed(2)"
                :title="item.goods.title"
                :thumb="item.goods.cover_url"
                class="goods-card"
                centered
        />
    </div>

    <van-submit-bar
            :price="totalPrice*100"
            button-text="立即支付"
            @submit="pay"
            style="bottom:50px">
        <span>共{{' '+carts.length+' '}}件商品</span>
        <!--            <template #tip>-->
        <!--                你的收货地址不支持同城送, <span @click="onClickEditAddress">修改地址</span>-->
        <!--            </template>-->
    </van-submit-bar>

</template>

<script>
    import NavBar from "components/common/navbar";
    import {orderPreview} from "network/order";
    import {reactive, toRefs, computed, onMounted} from "vue";
    import {Toast} from "vant";
    export default {
        name: "OrderPreview",

        setup() {
            let orderInfo = reactive({
                address:[],
                carts:[],
            });

            Toast.loading('数据加载中');

            onMounted(()=>{
                orderPreview().then((res)=>{
                    console.log(res);
                    orderInfo.address = res.address.filter(n=>n.is_default==1);
                    orderInfo.carts = res.carts;
                    Toast.clear();
                })
            });

            //总价
            const totalPrice = computed(()=>{
                let sum = 0;
                orderInfo.carts.forEach(n=>{
                    sum += parseInt(n.num)*parseFloat(n.goods.price);
                });
                return sum;
            });

            //支付
            const pay = () => {
                console.log('支付');
            };

            return {
                ...toRefs(orderInfo),
                totalPrice,
                pay
            }
        },

        components: {
            NavBar,
        }
    }
</script>

<style scoped lang="scss">
.order-box {
    min-height: 90vh;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #f8f8f8;
    .goods-card {
        background-color: #fff;
        text-align: left;
    }
}
</style>