<template>
    <p><i class="iconfont icon-zuanshi_o"></i>精品推荐</p>
    <div class="recommend">
        <div class="recommend-item" v-for="item in recommendData.slice(0,4)" :key="item.id">
            <a href="" @click.prevent="goDetail(item.id)">
                <img v-lazy="item.cover_url">
                <h6>{{item.title}}</h6>
            </a>
        </div>
    </div>
</template>

<script>
    import {useRouter} from "vue-router";
    export default {
        name: "Recommend",
        setup() {
            const router = useRouter();
            const goDetail = (id)=>{
                router.push({path: '/detail',query:{id}});
            };
            return {
                goDetail,
            }
        },
        props: {
            recommendData: {
                type:Array,
                default() {
                    return [];
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    p{
        margin-top: 10px;
        font-size: 14px;
        height: 20px;
        line-height: 16px;
        i{
            font-size: 20px;
            margin-right: 4px;
        }
    }
    .recommend {
        display: flex;
        width: 96%;
        margin: 10px auto;
        border-bottom: 1px solid #eee;
        .recommend-item {
            img{
                width: 100%;
            }
            h6{
                margin: 10px;
            }
        }
    }
</style>