<template>
    <div class="back-top" @click="backTopClick()"><i class="iconfont icon-top"></i></div>
</template>

<script>
    export default {
        name: "BackTop",
        setup(props, {emit}) {
            const backTopClick = ()=>{
                emit('backTopClick');
            };
            return {
                backTopClick,
            }
        }
    }
</script>

<style scoped lang="scss">
    .back-top{
        position: fixed;
        z-index: 99;
        width: 36px;
        height: 36px;
        background-color: #fff;
        bottom: 70px;
        right: 30px;
        border-radius: 50%;
        line-height: 36px;
        text-align: center;
        box-shadow: 0 0 5px rgba(100,100,100,.3);
        i{
            font-size: 36px;
        }
    }
</style>