<template>
    <div class="nav-bar">
        <div class="nav-bar-left" @click="goback"><slot name="left"></slot></div>
        <div class="nav-bar-middle"><slot>BOOKSHOP</slot></div>
        <div class="nav-bar-right"><slot name="right"></slot></div>
    </div>
</template>

<script>
    import {useRouter} from "vue-router";
    export default {
        name: "NavBar",

        setup() {
            const router = useRouter();
            const goback = () =>{
                router.go(-1);
            };
            return{
                goback,
            }
        }
    }
</script>

<style lang="scss">
    .nav-bar{
        display: flex;
        position: fixed;
        z-index: 99;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: var(--font-size);
        background-color: var(--color-high-text);

        .nav-bar-left,
        .nav-bar-right{
            flex: 1;
        }
        .nav-bar-middle{
            flex: 4;
        }
    }
</style>