<template>
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:left><i class="iconfont icon-fanhui" style="font-size: 22px"></i></template>
            <template v-slot:default>商品详情</template>
        </nav-bar>
    </div>

    <div class="detail-container">
        <div style="width: 100vw;height: 100vw"><img :src="imgUrl"/></div>
        <div class="goods-info">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <div class="father-box">
                <span class="price"><small>￥</small>{{price}}</span>
                <span>销量：{{sales}}</span>
                <span>库存：{{stock}}</span>
            </div>
        </div>

        <tab-control :titles="['详情', '评论', '相关书籍']" @fatherTabClick="fatherTabClick"></tab-control>
        <img :src="prcUrl">
        <div v-html="goodsDetail" style="width: 82%;margin: 10px auto;background-color: #fff;padding: 20px 10px"></div>
        <p>{{comments}}</p>
        <p>{{comments}}</p>
        <p>{{comments}}</p>
        <p>{{comments}}</p>
    </div>

    <div class="detail-tab">
        <div class="tab-left">
            <div class="tab-index" @click="$router.push({path:'/'})"><i class="iconfont icon-shouye"></i><span>首页</span></div>
            <div class="tab-collect" @click="collect">
                <i v-if="isSelect" class="iconfont icon-shoucang"></i>
                <i v-if="!isSelect" style="color:#F5A623" class="iconfont icon-shoucangxuanzhong"></i>
                <span>收藏</span></div>
        </div>
        <div class="tab-right">
            <div class="add-cart" @click="addGoodsCart">加入购物车</div>
            <div class="buy">立即购买</div>
        </div>
    </div>

</template>

<script>
    import NavBar from "components/common/navbar";
    import {useRoute} from "vue-router";
    import {ref, onMounted} from "vue";
    import TabControl from "components/content/tabcontrol/TabControl";
    import {getDetailData} from "network/detail";
    import {addCart} from "network/cart";
    import {collectionGoods, getCollectionGoods} from "network/collection";
    import {Toast} from "vant";
    import {useStore} from "vuex";
    export default {
        name: "detail",
        setup() {
          const route = useRoute();
          const store = useStore();
          const id = ref(0);
          let title = ref('');
          let imgUrl = ref('');
          let description = ref('');
          let sales = ref(0);
          let stock = ref(0);
          let price = ref(0);
          let goodsDetail = ref('');
          let prcUrl = ref('');
          let comments = ref('');
          let isSelect = ref(true);
            id.value = route.query.id;
          //选项卡
            const fatherTabClick = (index) => {
                console.log(index)
            };

            //添加购物车
            const addGoodsCart = () => {
                addCart({goods_id:id.value, num: 1}).then((res)=>{
                    if(res.status == 201 || res.status == 204){
                        Toast.success('已加入购物车');
                        store.dispatch('updateCount');
                    }
                })
            };

            onMounted(()=>{
                getDetailData(id.value).then(res=>{
                    title.value = res.goods.title;
                    imgUrl.value = res.goods.cover_url;
                    description.value = res.goods.description;
                    sales.value = res.goods.sales;
                    stock.value = res.goods.stock;
                    price.value = res.goods.price;
                    goodsDetail.value = res.goods.details;
                    prcUrl.value = res.goods.prcs_url;
                    comments.value = res.goods.comments[0].content;
                })
            });

            //收藏
            const collect = () => {
                    collectionGoods(id.value).then((res)=>{
                        if(res.status == 201){
                            isSelect.value = false;
                            Toast.success({message:"收藏成功", duration:800})
                        }else {
                            isSelect.value = true;
                            Toast.success({message:"取消收藏成功", duration:800})
                        }
                    })
            };
            //初始化收藏图标状态
            getCollectionGoods().then((res)=>{
                for (let i=0;i<res.data.length;i++){
                    if(id.value == res.data[i].goods_id){
                        isSelect.value = false;
                    }
                }
            });

          return {
              id,
              fatherTabClick,
              title,
              imgUrl ,
              description ,
              sales,
              stock,
              price,
              goodsDetail,
              prcUrl,
              comments,
              addGoodsCart,
              collect,
              isSelect

          }
        },
        components:{
            TabControl,
            NavBar,
        }
    }
</script>

<style scoped lang="scss">
.detail-container {
    width: 100%;
    margin: 40px auto;
    text-align: left;
    background-color: #f8f8f8;
    img {
        width: 100%;
        height: auto;
    }
    .goods-info {
        width: 86%;
        margin: 10px auto;
        padding: 4px 10px 16px;
        background-color: #fff;
        border-radius: 5px;
        h4,span {
            line-height: 1px;
        }
        p{
            font-size: 14px;
        }
        .father-box {
            display: flex;
            justify-content: space-around;
            text-align: center;
            span {
                flex:1;
                font-size: 12px;
                color: #b0b0b0;
            }
            .price {
                text-align: left;
                color: var(--color-high-text);
                font-size: 20px;
            }
        }
    }
}
    .detail-tab {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 100%;
        height: 52px;
        text-align: center;
        line-height: 52px;
        background-color: #fff;
        box-shadow: 0 -2px 2px rgba(220,220,220,0.1);
        .tab-left {
            display: flex;
            flex: 1;
            padding: 8px 0 8px 6px;
            .tab-index, .tab-collect{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1;
                font-size: 12px;
                i{
                    font-size: 22px;

                }
                i,span{
                    line-height: 0;
                }
            }
            .tab-collect {
                flex: 1;
            }
        }
        .tab-right {
            display: flex;
            flex: 2;
            padding: 6px 16px;
            line-height: 40px;
            color: #fff;
            font-size: var(--font-size);
            .add-cart {
                flex: 1;
                border-bottom-left-radius: 40px;
                border-top-left-radius: 40px;
                background-image: linear-gradient(to right, #ffd01e, #ff8917);
            }
            .buy {
                flex: 1;
                border-bottom-right-radius: 40px;
                border-top-right-radius: 40px;
                background-image: linear-gradient(to right, #ff6034, #ee0a24);
            }
        }
    }
</style>