<template>
    <div id="home">
    <div class="nav-bar">
        <nav-bar>
            <template v-slot:default>铱星书屋</template>
        </nav-bar>
    </div>
        <tab-control :titles="['畅销', '新书', '精选']" @fatherTabClick="fatherTabClick" v-if="isShow"></tab-control>
    <div class="wrapper">
        <div class="content">
            <div ref="ban">
                <div class="banner">
                    <HomeSwipe :bannerData="bannerData"></HomeSwipe>
                </div>

                <recommend :recommendData="recommendData"></recommend>
            </div>

            <tab-control :titles="['畅销', '新书', '精选']" @fatherTabClick="fatherTabClick"></tab-control>

            <goods-list :nowShowGoods="nowShowGoods"></goods-list>
        </div>
    </div>
    </div>
    <back-top @backTopClick="backTopClick" v-show="backTopIsShow"></back-top>

</template>

<script>
import NavBar from "components/common/navbar";
import Recommend from "./childcomps/recommend";
import TabControl from "components/content/tabcontrol/TabControl";
import GoodsList from "components/content/goods/GoodsList";
import HomeSwipe from "components/content/HomeSwipe";
import {getHomeAllData, getHomeGoods} from "network/home";
import {ref, reactive, computed, watchEffect, nextTick, onMounted} from "vue";
import BScroll from 'better-scroll';
import BackTop from "components/common/BackTop";
    export default {
        name: "home",
        setup() {
            const recommendData = ref([]);
            let goodsType = ref('sales');
            let bScroll = reactive({});
            let ban = ref(null);
            let isShow = ref(false);
            let backTopIsShow = ref(false);
            let bannerData = ref([]);


            const nowShowGoods = computed(()=>{
                return goods[goodsType.value].list;
            });

            const goods = reactive({
                sales: {pages: 0, list:[]},
                recommend: {pages: 0, list:[]},
                new: {pages: 0, list:[]},
            });

            onMounted(()=>{
                getHomeAllData().then(res=>{
                    recommendData.value = res.goods.data;
                    bannerData.value = res.slides;
                });
                getHomeGoods('sales').then(res=>{
                    goods.sales.list = res.goods.data;
                });
                getHomeGoods('recommend').then(res=>{
                    goods.recommend.list = res.goods.data;
                });
                getHomeGoods('new').then(res=>{
                    goods.new.list = res.goods.data;
                });


                let wrapper = document.querySelector('.wrapper');
                bScroll = new BScroll(wrapper,{
                    probeType: 3,//0 1 2 3
                    click: true,//是否
                    pullUpLoad: true,//上拉加载更多
                });
                bScroll.refresh();
                //触发滚动事件
                bScroll.on('scroll',(position)=>{
                    // console.log(position.y);
                    isShow.value = -position.y >= ban.value.offsetHeight;
                    backTopIsShow.value = isShow.value;
                });
                //上滑加载
                bScroll.on('pullingUp',()=>{
                    let pages = goods[goodsType.value].pages + 1;
                    getHomeGoods(goodsType.value, pages).then(res=>{
                        goods[goodsType.value].list.push(...res.goods.data)
                    });
                    bScroll.finishPullUp();
                    bScroll.refresh();
                });
            });
            const fatherTabClick = (index) => {
                let goodsTypeList =['sales', 'new', 'recommend'];
                goodsType.value = goodsTypeList[index];
                bScroll && bScroll.refresh();
            };
            const backTopClick = ()=>{
                bScroll.scrollTo(0, 0, 500);//返回顶部
            };

            //监听页面任何变化
            watchEffect(()=>{
                nextTick(()=>{
                    //重新计算页面高度
                    bScroll && bScroll.refresh();
                })
            });
            return {
                recommendData,
                fatherTabClick,
                goods,
                nowShowGoods,
                ban,
                isShow,
                backTopClick,
                backTopIsShow,
                bannerData,
            }
        },
        components:{
            BackTop,
            NavBar,
            Recommend,
            TabControl,
            GoodsList,
            HomeSwipe,
        }
    }
</script>

<style scoped lang="scss">
    .banner{
        width: 100%;
        height: 160px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    #home {
        height: 100vh;
        position: relative;
    }
    .wrapper {
        position: absolute;
        top:40px;
        bottom: 50px;
        left: 0;
        right: 0;
        overflow: hidden;
    }
</style>