<template>

  <router-view/>

  <div id="nav">
    <router-link to="/">
      <div class="icon"><i class="iconfont icon-shouye"></i></div>
      <div>首页</div>
    </router-link>
    <router-link to="/category">
      <div class="icon"><i class="iconfont icon-fenlei"></i></div>
      <div>分类</div>
    </router-link>
    <router-link to="/shopcart">
      <div class="icon">
        <van-badge :content="$store.state.cartCount" max="9" color="#F5A623">
          <i class="iconfont icon-31gouwuche"></i>
        </van-badge>
      </div>
      <div>购物车</div>
    </router-link>
    <router-link to="/profile">
      <div class="icon"><i class="iconfont icon-wode"></i></div>
      <div>我的</div>
    </router-link>
  </div>

</template>

<script>
import {useStore} from "vuex"
  export default {
  setup() {
    const store = useStore();
    store.dispatch('updateCount');
  }
  }
</script>

<style lang="scss">
  @import "assets/css/base.css";
  @import "assets/css/iconfont.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  font-size: var(--font-size);
  background-color: #f6f6f6;
  box-shadow: 0 -2px 2px rgba(200,200,200,0.1);

  a {
    flex: 1;
    font-weight: 400;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #F5A623;
    }
  }

  .icon{
    display: inline-block;
    width: 50px;
    margin: 6px 0 2px 0;
    i{
      font-size: 20px;
    }
  }
}
</style>
